<h1>Listing cohorts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Starttime</th>
    <th>Endtime</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cohorts.each do |cohort| %>
  <tr>
    <td><%= cohort.name %></td>
    <td><%= cohort.starttime %></td>
    <td><%= cohort.endtime %></td>
    <td><%= link_to 'Show', cohort %></td>
    <td><%= link_to 'Edit', edit_cohort_path(cohort) %></td>
    <td><%= link_to 'Destroy', cohort, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cohort', new_cohort_path %>
