<%= form_for(@visitor) do |f| %>
  <% if @visitor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@visitor.errors.count, "error") %> prohibited this visitor from being saved:</h2>

      <ul>
      <% @visitor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :visittime %><br />
    <%= f.datetime_select :visittime %>
  </div>
  <div class="field">
    <%= f.label :ip_address %><br />
    <%= f.text_field :ip_address %>
  </div>
  <div class="field">
    <%= f.label :browser %><br />
    <%= f.text_field :browser %>
  </div>
  <div class="field">
    <%= f.label :prospect_id %><br />
    <%= f.text_field :prospect_id %>
  </div>
  <div class="field">
    <%= f.label :cohort_id %><br />
    <%= f.text_field :cohort_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
