<p id="notice"><%= notice %></p>

<p>
  <b>Visittime:</b>
  <%= @visitor.visittime %>
</p>

<p>
  <b>Ip address:</b>
  <%= @visitor.ip_address %>
</p>

<p>
  <b>Browser:</b>
  <%= @visitor.browser %>
</p>

<p>
  <b>Prospect:</b>
  <%= @visitor.prospect_id %>
</p>

<p>
  <b>Cohort:</b>
  <%= @visitor.cohort_id %>
</p>


<%= link_to 'Edit', edit_visitor_path(@visitor) %> |
<%= link_to 'Back', visitors_path %>
